/*MODALITA TABLET (SOPRA I 768PX)*/

@media screen and (min-width:768px) {
    h1{
        padding-left: 20px;
        text-align: start;
        font-size: 4rem;
    }

    .main-container{
        padding: 3rem;
    }

    .h3-hidden{
        display: inline-block;
    }

    ul{
        display: flex;
        gap: 20px;
    }

    .card-icon i{
        padding: 10px 40px;
    }

    #banner-img{
        display: block;
    }

    .card.img-recipe-presentation{
        float: left;
        margin-right: 10px;
    }
}


/*MODALITA DESKTOP (SOPRA I 992PX)*/

@media screen and (min-width:992px) {
    h1{
        font-size: 6rem;
    }

    h3{
        font-size: 3rem;
    }

    .main-container{
        padding: 3rem 10rem;
    }

    .row-recipe{
        display: flex;
        flex-wrap: wrap;
    }

    ul{
        display: block;
    }

    .card-img{
        flex-basis: 70%;
    }

    .col-recipe{
        flex-basis: 30%;
    }

    .col-social{
        flex-basis: 100%;
    }

    .social-hidden{
        display: inline-block;
    }

    footer{
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
    }

    footer > *{
        margin: 0;
    }
}