/*CSS RESET*/
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/*UTILS*/
.c-yellow{
    color: #F7972D;
}


/*GENERICS*/
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

h1{
    font-family: 'Nerko One', cursive;
    font-size: 3rem;
    text-align: center;
}

 
